<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Hibernate mandatory properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/WebServiceTbl</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">system</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Table per class -->
		<!-- <mapping class="com.scp.Inheritance.Employee" />
		 <mapping class="com.scp.Inheritance.Address" 	/> -->

		<!-- Table per sub class -->
		<!-- <mapping class="com.scp.Inheritance.Student" />
		<mapping class="com.scp.Inheritance.School" /> -->
		
		<!-- Table per concreate class -->
		<mapping class="com.scp.webService.Model.User" />
		<mapping class="com.scp.webService.Model.Geo" />
		<mapping class="com.scp.webService.Model.Address" />
		<mapping class="com.scp.webService.Model.Company" />
	</session-factory>
</hibernate-configuration>
